form {
    position: relative;
    padding: 3rem;
    border-radius: 1rem;
    background-color: whitesmoke;
    overflow: hidden;
    max-width: 300px;
}
form h1 {
    text-align: center;
    text-size-adjust: auto;
}

form::before,
form::after {
    content: '';
    position: absolute;
    top: -4%;
    left: -5%;
    width: 27%;
    aspect-ratio: 1;
    border-radius: 50%;
    background:linear-gradient(-30deg, var(--color-compliment) 40%, rgba(255,255,255, 0) 100%);
    opacity: 0.4;
    box-shadow: 3rem -1rem var(--color-tri-1);
    transform: scale(1.4);
    mix-blend-mode: darken;
}
form::after { 
    top: -11%; 
    left: unset; 
    right: -1%;
    background: linear-gradient(-80deg, var(--color-tri-2) 50%, rgba(255, 255, 255, 0) 100%);
    transform: rotateZ(30deg);
}

label {
    display: inline-block;
    width: 100%;
}
.label-wrapper:not(:first-of-type) {
    padding-top: 0.5rem;
}

input:not([type=submit]):not([type=file]) {
    width: 100%;
    padding: 0.75rem 1.25rem;
    margin: 0.3rem 0;
    box-sizing: border-box;
    border-radius: 0.6rem;
    outline: none !important;
    border: 0.15rem solid var(--color-dark);
    opacity: 0.8;
}
input:not([type=submit]):not([type=file]):focus {
    border: 0.15rem solid var(--color-primary);
    opacity: 1;
}

.btn-wrapper {
    position: relative;
    margin-top: 1.3rem;
    width: 100%;
}
.btn-wrapper .btn {
    width: 100%;
    padding: 0.75rem;
    text-align: center;
}